<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Recetas</title>
</head>
<body>
    <h1>Lista de Recetas</h1>
    <a href="/recetas/nueva">Nueva Receta</a>


    <a href="/categorias/nueva">Nueva Categoria</a>
    <a href="/categorias">Lista Categoria</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="receta : ${recetas}">
                <td th:text="${receta.id}"></td>
                <td th:text="${receta.nombre}"></td>
                <td th:text="${receta.categoria.nombre}"></td>
                <td>
                    <a th:href="@{'/recetas/editar/' + ${receta.id}}">Editar</a>
                    <a th:href="@{'/recetas/eliminar/' + ${receta.id}}" onclick="return confirm('¿Estás seguro?')">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
